# ========================================
# 🌐 SERVER CONFIGURATION
# ========================================

# The port the application runs on in local development or Docker.
# Optional for local/Docker environments since defaults are already configured.
SERVER_PORT=

# The base URL of the application.
# Optional for local/Docker environments since defaults are already configured..
# Required only in production with custom domain. Example: https://api.myservice.com
# BASE_URL=

# ========================================
# 🗄️ DATABASE CONFIGURATION
# ========================================

# MongoDB credentials.
# Optional in Docker since defaults are already set in Docker Compose.
# Required when running locally without Docker.
MONGO_USER=
MONGO_PASSWORD=

# Full MongoDB connection URI.
# Required only in production. 
# Examples: mongodb+srv://username:password@cluster.mongodb.net/urlshortenerdb
# MONGO_URI=